.testo-bianco {
    font-family: 'Fraunces', sans-serif;
    color: white;
}

.nav-bg {
    background-color: rgba(0, 100, 255, 0.5);
}

.cornice {
    border: 5px groove goldenrod;
}

.sezione {
    transition: 0.5s;
}

.sezione:hover {
    background-image: url(https://artivive.com/assets/uploads/2022/04/christopher-jeauhn-bayne_hummingbird_artwork_image.jpg);
    width: 350px;
    height: 350px;
    transition: 0.5s;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #c2c2c2;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

.myButton:active {
    position: relative;
    top: 1px;
}

@media screen and (min-width: 992px) and (max-width: 2000px) {
    #footer-recensioni {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}